<p><strong><%= @category.name %></strong></p>
<ul>
  <% @category.subcategories.each do |subcategory| %>
    <li><%= link_to subcategory.name, show_category_path(subcategory.url) %></li>
  <% end %>
</ul>
